python-dotenv>=1.0.1
pyttsx3>=2.90
langchain-core>=0.1.27
langchain-deepseek>=0.0.1
gradio>=4.16.2
groq==0.28.0
librosa==0.11.0
spaces==0.37.0
xxhash==3.5.0
datasets==3.6.0
numpy>=1.26.4
chromadb>=0.4.22
sentence-transformers>=2.5.1
live2d-py>=0.1.0
soundfile>=0.12.1
elevenlabs>=1.0.0
requests>=2.31.0